.main-panel {
    background-color: lightskyblue;
    background: linear-gradient(180deg, lightskyblue 0%, transparent 100%);
    height: 600px;
    width: 100%;
}

.container-fluid {
    background-color: rgb(235,235,235);
    min-height: 100vh;
}

/* @media screen and (max-width: 1400px) {
    .container-fluid {
        padding: 0!important;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding: 0!important;
        width: 100vw!important;
    }
}
@media screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px;
    }
} */