.container {
    margin-bottom: 25px;
    margin-top: 30px;
}

a {
    color: var(--blue_greek);
    font-size: 0.9rem;
    height: 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.addresses-list {
    /* background-color: red; */
    display: grid;
    gap: 15px;
    grid-template-columns: repeat( auto-fill, minmax( 300px, 300px ) );
    justify-content: center;
    margin: 0 auto;
    padding: 25px 0;
    width: 90%;
}

.new-address {
    align-items: center;
    background-color: ghostwhite;
    border: 2px dashed gainsboro;
    border-radius: 10px;
    color: lightslategrey;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    height: 300px;
    justify-content: center;
    width: 300px;
}
.new-address:hover {
    cursor: pointer;
}
.new-address .fas {
    color: mediumseagreen;
}