.product-cart {
    background-color: ghostwhite;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    column-gap: 10px;
    display: flex;
    min-height: 100px;
    margin: 12px 5px;
    padding: 10px 4px;
}
.product-cart hr {
    /* color: var(--spartan_red);
    height: 2px; */
    margin-top: 0;
    margin-bottom: 4px;
    /* opacity: 1; */
}

.product-img {
    align-items: center;
    display: flex;
    justify-content: center;
}
.product-cart img {
    height: auto;
    width: 80px;
}
.product-cart img:hover {
    cursor: pointer;
}

.info {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
}
.price-box {
    font-weight: 500;
    text-align: right;
}

div.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
p.product-name {
    font-weight: bold;
    margin-bottom: 0;
}
p.product-name:hover {
    color: var(--ceramic);
    cursor: pointer;
}
p.vendor {
    font-size: 0.9rem;
    font-weight: 500;
}
span.vendor:hover {
    color: var(--spartan_red);
    cursor: pointer;
}
.quantity {
    align-items: center;
    display: flex;
    column-gap: 10px;
    margin: 16px 0;
}
.total-quantity {
    text-align: center;
    width: 24px;
}
button.btn-incdec {
    border-radius: 5px;
    color: black;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    width: 30px;
}
button.btn-incdec:focus {
    box-shadow: none;
}

@media screen and (min-width: 600px) {
    .product-cart {
        column-gap: 10px;
        display: flex;
        margin: 15px 5px;
    }
    .product-cart img {
        height: auto;
        width: 120px;
    }
}
@media screen and (min-width: 770px) {
    .product-cart img {
        height: auto;
        width: 150px;
    }
}
/* @media screen and (min-width: 1024px) {
    .product-cart img {
        height: auto;
        width: 175px;
    }
} */