.box-container {
    margin-top: 5px;
    padding-bottom: 25px;
}
form {
    margin: 0 auto;
    width: 95%;
}

.form-label {
    margin-top: 10px;
}

.pointer:hover {
    cursor: pointer;
}

.text-green {
    color: rgb(0, 190, 0);
}

@media screen and (min-width: 765px) {
    .box-container {
        margin-top: 30px;
    }
    .container {
        max-width: 650px;
    }
    .form-label {
        margin-top: 15px;
    }
}