<div class="iconUser frame" [matMenuTriggerFor]="menu">
    <div class="userbox" *ngIf="!login; else userButtonLogged">
        <i class="far fa-user-circle"></i>
        <div>Inicia sesión</div>
    </div>
    <ng-template #userButtonLogged>
        <div class="userbox">
            <i class="fas fa-user-circle"></i>
            <div>Bienvenido/a</div>
        </div>
    </ng-template>
</div>
<mat-menu #menu="matMenu">
    <div *ngIf="!login; else menuLoggedIn">
        <button mat-menu-item (click)="goTo('/login')">Iniciar sesión</button>
        <button mat-menu-item (click)="goTo('/register')">Crear cuenta</button>
    </div>
    <ng-template #menuLoggedIn>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </ng-template>
</mat-menu>