.iconUser {
    color: white;
    height: 52px;
    padding: 5px 4px;
    text-decoration: none;
    width: 100px;
}
.userbox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.iconUser .far {
    color: var(--ceramic_dark);
}

.iconUser .fas {
    color: var(--ceramic);
}

button.mat-focus-indicator.mat-menu-item {
    background: linear-gradient(180deg, var(--ceramic) 0%, var(--ceramic_dark) 100%);
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin: 8px 4px;
    text-align: center;
    width: 160px;
}

button.mat-focus-indicator.mat-menu-item:hover {
    background: linear-gradient(180deg, var(--ceramic_light) 0%, var(--ceramic) 100%);
    color: black;
}