.container {
    margin-top: 30px;
    padding-bottom: 25px;
}

section {
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
}

section h5 {
    text-align: left;
}

select.form-select {
    width: 100%;
}

.option-selected {
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 15px;
}

.creditCard {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 190px;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    width: 300px;
}

.creditCard header h5 {
    margin-bottom: 0;
}
.creditCard-info {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    flex-grow: 5;
    justify-content: center;
}
.creditCard.expired {
    border: 2px dashed red !important;
    opacity: 0.65;
    text-decoration: none;
}
.creditCard.mastercard {
    background-repeat: no-repeat;
    background-position-y: 102px;
    background-position-x: 4px;
    background-size: 45%;
    background-color: #282570;
    border: 2px solid orange !important;
    color: white;
}
.creditCard.visa {
    background-repeat: no-repeat;
    background-position-y: 142px;
    background-position-x: 5px;
    background-size: 45%;
    background-color: white;
    border: 2px solid #00579f !important;
    color: #00579f;
}
.creditCard.american-express {
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: 5px;
    background-size: 45%;
    background-color: #016fd0;
    border: 2px solid black !important;
    color: white;
}


.credit-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid gainsboro;
    border-radius: 4px;
    height: 32px;
    margin-right: 8px;
    width: 54px;
}
.mastercard {
    background-image: url(../../../assets/icon/mastercard.svg);
    background-color: #282570;
}
.visa {
    background-image: url(../../../assets/icon/visa.svg);
}
.american-express {
    background-size: cover;
    background-image: url(../../../assets/icon/american-express.svg);
}
.expired {
    color: red;
    text-decoration: line-through;
}

.addConfig {
    text-decoration: none;
}
.addConfig:hover {
    text-decoration: underline;
}

.order {
    /* background-color: var(--ceramic); */
    background-color: ghostwhite;
    border: 2px solid var(--charcoal);
    border-radius: 10px;
    padding: 10px;
}

textarea {
    border-radius: 5px;
    height: 180px;
    margin: 0 auto;
    padding: 5px 8px;
    resize: none;
    width: 100%;
}
textarea:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    select.form-select, 
    label.label-section {
        width: 70%;
    }
    label.label-section {
        display: block;
        margin: 0 auto;
        padding-left: 6px;
    }
    .creditCard {
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        height: 215px;
        margin: 0 auto;
        padding: 10px;
        text-align: right;
        width: 400px;
    }
}
@media screen and (min-width: 1000px) {
    select.form-select, 
    label.label-section {
        width: 50%;
    }
}