.container {
    margin-top: 30px;
    padding-bottom: 25px;
}

section {
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
}

section h5 {
    text-align: left;
}

.option-selected {
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 15px;
}

.credit-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid gainsboro;
    border-radius: 4px;
    height: 25px;
    margin-right: 8px;
    width: 44px;
}
.mastercard {
    background-image: url(../../../assets/icon/mastercard.svg);
    background-color: #282570;
}
.visa {
    background-image: url(../../../assets/icon/visa.svg);
}
.american-express {
    background-size: cover;
    background-image: url(../../../assets/icon/american-express.svg);
}
.expired {
    color: var(--red);
    text-decoration: line-through;
}

.addConfig {
    text-decoration: none;
}
.addConfig:hover {
    text-decoration: underline;
}

.order {
    /* background-color: var(--ceramic); */
    background-color: ghostwhite;
    border: 2px solid var(--charcoal);
    border-radius: 10px;
    padding: 10px;
}

textarea {
    border-radius: 5px;
    height: 180px;
    margin: 0 auto;
    resize: none;
    width: 100%;
}
textarea:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    select {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    select {
        width: 50%;
    }
}