.product-cart {
    background-color: ghostwhite;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    column-gap: 10px;
    display: flex;
    min-height: 100px;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 10px 4px;
}
.product-cart hr {
    margin-top: 0;
    margin-bottom: 4px;
}

.product-img {
    align-items: center;
    display: flex;
    justify-content: center;
}
.product-cart img {
    height: auto;
    width: 80px;
}
.product-cart img:hover {
    cursor: pointer;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
}
.price-box {
    font-weight: 500;
    text-align: right;
}

.info {
    display: flex;
    flex-flow: column;
    row-gap: 5px;
}

.price-quantity {
    height: -webkit-fill-available;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: max-content;
}

div.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
p.product-name {
    font-weight: bold;
    margin-bottom: 0;
}
p.product-name:hover {
    color: var(--ceramic);
    cursor: pointer;
}
p.vendor {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 2px;
}
span.vendor:hover {
    color: var(--spartan_red);
    cursor: pointer;
}
div.price p {
    margin-bottom: 2px;
}
div.price span,
div.total-price span {
    font-weight: 500;
    width: 100%;
}
.quantity,
.price, 
.total-price {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    column-gap: 10px;
    justify-items: end;
}
.quantity{
    justify-items: center;
}
.total-price span {
    color: var(--red);
    font-weight: bold !important;
    width: 100%;
}
.total-quantity {
    text-align: center;
    width: 32px;
}
button.btn-incdec {
    border-radius: 5px;
    color: black;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    width: 30px;
}
button.btn-incdec:focus {
    box-shadow: none;
}

@media screen and (min-width: 600px) {
    .product-cart {
        column-gap: 10px;
        display: flex;
        min-height: 175px;
    }
    .product-cart img {
        height: auto;
        max-height: 165px;
        width: 120px;
    }
}