<div class="order-card">
    <header>
        <div><b>Fecha:</b> {{ order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        <div><b>Estado:</b> <span [ngClass]="cssStatus()"> {{ order.status }}</span></div>
    </header>
    <section>
        <div>
            <b>Ref: </b>{{ order._id }}
        </div>
        <div class="info">
            <div class="d-flex justify-content-center">
                <img [src]="order.order[0].images[0]" alt="Imagen del primer producto">
            </div>
            <div>
                <div>
                    <div class="box-info">
                        <p><b>{{ order.order[0].name }}</b></p>
                    </div>
                    <p>x{{ order.order[0].quantity }}</p>
                </div>
                <div class="other-products" *ngIf="totalProducts() - order.order[0].quantity > 0">
                    <b *ngIf="totalProducts() - order.order[0].quantity == 1; else moreThanTwo">
                        Y un producto más.
                    </b>
                    <ng-template #moreThanTwo>
                        <b>
                            Y otros {{ totalProducts() - order.order[0].quantity }} productos...
                        </b>
                    </ng-template>
                </div>
            </div>
        </div>
        
    </section>
</div>
