<div class="container-fluid">
    <div class="container">
        <h2>Pedido</h2>
        <hr class="spartan mb-0">
        <a routerLink="/myorders" class="mx-2"><i class="fas fa-arrow-left"></i> Volver a mis pedidos</a>
        <div class="order" *ngIf="order">
            <header>
                <div><b>Fecha:</b> {{ order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
                <div><b>Estado:</b> <span [ngClass]="cssStatus()"> {{ order.status }}</span></div>
            </header>
            <section>
                <div class="data">
                    <h5 class="mx-2">Dirección de envío</h5>
                    <hr>
                    <div class="data-address">
                        <div>
                            <p><b>{{ order.address.name }}</b></p>
                            <p>{{ order.address.address }}</p>
                            <p *ngIf="order.address.apartment">{{ order.address.apartment }}</p>
                            <p>{{ order.address.city }}, {{ order.address.province }} {{ order.address.zipCode }}</p>
                            <p>{{ order.address.country }}</p>
                        </div>
                        <div class="instructions" *ngIf="order.instructions !== ''">
                            {{ order.instructions }}
                        </div>
                    </div>
                    <div class="total-price mt-2">Precio total: <span>{{ getTotalPrice() | price }}</span> </div>
                </div>
                <div class="products-list">
                    <app-my-order-product-card *ngFor="let product of order.order" [product]="product"></app-my-order-product-card>
                </div>
            </section>
        </div>
    </div>
</div>
