.container {
    margin-bottom: 25px;
    margin-top: 30px;
}

a {
    color: var(--blue_greek);
    font-size: 0.9rem;
    height: 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.box-payments {
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
}

@media screen and (min-width: 1000px) {
    .box-payments {
        width: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .box-payments {
        width: 60%;
    }
}
@media screen and (min-width: 1400px) {
    .box-payments {
        width: 50%;
    }
}