.address-card {
    background-color: ghostwhite;
    border: 2px solid gainsboro;
    border-radius: 10px;
    color: lightslategrey;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 300px;
    justify-content: center;
    width: 300px;
}

header, footer {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 50px;
    padding: 0 10px;
}

header {
    border-bottom: 1px solid gainsboro;
    font-size: 12px;
    justify-content: flex-start;
}
footer {
    border-top: 1px solid gainsboro;
    justify-content: flex-end;
}

header.default {
    color: var(--red);
    font-weight: 500;
}

footer a {
    color: var(--blue_greek);
    text-decoration: none;
}
footer a:hover {
    color: var(--blue_greek);
    cursor: pointer;
    text-decoration: underline;
}

.info {
    color: black;
    flex-grow: 1;
}
.info div:hover {
    cursor: default;
}

.name {
    font-weight: 700;
}
