<div class="container-fluid">
    <div class="container view-product" *ngIf="product">
        <div class="images-list">
            <app-preview-image 
            *ngFor="let src of product.images, index as i" 
            [srcImage]="src" [index]="i" (changePhoto)="changePhoto($event)"></app-preview-image>
        </div>

        <div class="mobileandtablet mt-2">
            <div class="name-mobile">
                <h3>{{ product.name }}</h3>
            </div>
        </div>
        <div class="mobileandtablet">
            <p class="vendor m-mobile" *ngIf="product.vendor !== ''">
                <b>Vendedor:</b> {{ product.vendor }}
            </p>
            <hr class="mt-2">
        </div>
        <div class="photo">
            <img [src]="getImage()" alt="Imagen del producto">
        </div>
        <div class="text">
            <div class="pc">
                <h3>{{ product.name }}</h3>
                <p class="vendor" *ngIf="product.vendor !== ''">
                    <b>Vendedor:</b> {{ product.vendor }}
                </p>
            </div>
            <hr class="mt-2">

            <div *ngIf="product.discount; else withoutDiscount" class="show-price">
                <p class="old-price">Precio recomendado:</p>
                <p><span class="line">{{ product.price | price }}</span></p>

                <p class="old-price">Ahorras:</p>
                <p><span class="offer">{{ product.price - product.price * (100 - product.discount) / 100 | price }} ({{ product.discount }}%)</span></p>
                
                <p class="old-price">Precio:</p>
                <p><span class="offer price">{{ product.price * (100 - product.discount) / 100 | price }}</span></p>
                <div></div>
                <p class="final-price">Precio final del producto</p>
            </div>

            <ng-template #withoutDiscount>
                <div class="show-price">
                    <p class="old-price">Precio: </p>
                    <p><span>{{ product.price | price }}</span></p>
                </div>
            </ng-template>
            <hr>

            <p>{{ product.description }}</p>
            
            <div class="buttons-panel">
                <button class="btn ceramic" (click)="buyNow()">Comprar ya</button>
                <button class="btn ceramic golden" (click)="addToCart()">Añadir a la cesta</button>
            </div>
        </div>
        <div class="info">
        </div>
    </div>
</div>
