.container-fluid {
    padding-bottom: 25px;
}
.view-product {
    display: flex;
    flex-flow: column;
    min-height: 85vh;
}
.zoom-box {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
}
.img-zoom-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px 4px black;
    height: 66vh;
    left: 0;
    margin: 17vh 7vw;
    overflow: scroll;
    position: absolute;
    top: 0;
    width: 86vw;
    z-index: 5;
}
.img-zoom-box::-webkit-scrollbar {
    display: none;
}
.close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    height: 35px;
    position: sticky;
    top: 10px;
    left: 100%;
    margin: 10px;
    width: 35px;
}
.close:hover {
    cursor: pointer;
}
i.fas.fa-times-circle {
    color: var(--red);
    font-size: 35px;
}
.img-zoom-box img {
    display: block;
    margin: auto;
}
img.img-zoom-out {
    height: auto;
    max-height: 90%;
    width: auto;
    max-width: 90%;
}
img.img-zoom-in {
    height: auto;
    width: auto;
    max-width: 95%;
    margin-bottom: 55px!important;
}
.img-zoom-out:hover {
    cursor: zoom-in;
}
.img-zoom-in:hover {
    cursor: zoom-out;
}
.name-box {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.images-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 5px auto;
    order: 3;
}
.photo {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    margin: 20px auto;
    order: 2;
    width: 95%;
}
.photo img {
    max-height: 50vh;
    max-width: 100%;
}
.photo img:hover {
    cursor: zoom-in;
}
.text {
    padding: 0 10px;
    padding-top: 15px;
    width: 100%;
    order: 3;
}
.text p {
    color: black;
    padding: 0 12px;
    text-align: justify;
}
p.vendor {
    font-size: 14px;
    margin-bottom: 2px;
}
p.vendor.m-mobile {
    margin-left: 6px;
    margin-top: 4px;
}
.show-price {
    column-gap: 6px;
    display: grid;
    grid-template-columns: max-content auto;
    padding: 0 12px;
}
.show-price p {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}
.show-price p.old-price {
    color: rgb(125,125,125);
    display: flex;
    justify-content: flex-end;
}
.show-price p.final-price {
    color: black;
    font-size: 15px;
}
span.line {
    color: black;
    text-decoration: line-through;
}
span.offer {
    color: rgb(200,0,0);
}
span.price {
    font-size: 16px;
    font-weight: 500;
}
.buy-panel {
    border: 2px solid var(--charcoal);
    border-radius: 10px;
    height: 500px;
    margin: 10px;
    margin-top: 15px;
}

.text .buttons-panel {
    flex-flow: column;
    justify-content: center;
    row-gap: 10px;
}
.text button {
    border-radius: 50px;
    min-width: 180px;
}
.ceramic {
    background: linear-gradient(180deg, var(--ceramic_light) 0%, var(--ceramic) 100%);
    color: black;
}
.ceramic:hover {
    background: linear-gradient(180deg, var(--ceramic_light) 0%, var(--ceramic_dark) 100%);
    color: white;
}
.golden {
    color: black;
    background: linear-gradient(180deg, gold 0%, rgb(238, 181, 37) 100%);
}
.golden:hover {
    background: linear-gradient(180deg, gold 0%, rgb(189, 142, 25) 100%);
}

@media screen and (min-width: 768px) {
    .view-product {
        flex-flow: row;
        margin-top: 30px;
    }
    .img-zoom-box {
        height: 86vh;
        margin: 7vh 7vw;
    }
    .images-list {
        flex-flow: column;
        justify-content: flex-start;
        margin: 0 auto;
        margin-top: 30px;
        order: 1;
    }
    .photo {
        align-items: baseline;
        height: auto;
        min-height: 100%;
        margin: 0 auto;
        order: 2;
    }
    .photo img {
        margin-top: 20px;
        max-height: 80vh;
        max-width: 90%;
    }
    .name-box {
        -webkit-line-clamp: 3;
    }
    .text {
        padding: 0;
        padding-top: 15px;
        order: 3;
    }
}

@media screen and (min-width: 992px) {
    .text .buttons-panel {
        flex-flow: row;
        row-gap: 0;
    }
}

@media screen and (min-width: 1400px) {
    .photo {
        align-items: center;
        margin-top: 0;
    }
    .photo img {
        max-width: 95%;
    }
}