<div class="container-fluid">
    <!-- Zoom imagen -->
    <div class="zoom-box" *ngIf="shwImgZoom">
        <div class="img-zoom-box">
            <div class="close" (click)="toggleShowImg()">
                <i class="fas fa-times-circle"></i>
            </div>
            <img [src]="getImage()" [ngClass]="cssImgZoom()" alt="Zoom de imagen del product" (click)="toggleZoom()">
        </div>
    </div>

    <!-- Producto -->
    <div class="container view-product" *ngIf="product && !addedCart">
        <div class="images-list">
            <app-preview-image 
            *ngFor="let src of product.images, index as i" 
            [srcImage]="src" [index]="i" (changePhoto)="changePhoto($event)"></app-preview-image>
        </div>

        <!-- Nombre versión móvil -->
        <div class="mobileandtablet mt-2">
            <div class="name-box">
                <h3>{{ product.name }}</h3>
            </div>
        </div>
        <div class="mobileandtablet">
            <p class="vendor m-mobile" *ngIf="product.vendor !== ''">
                <b>Vendedor:</b> {{ product.vendor }}
            </p>
            <hr class="mt-2">
        </div>
        <!-- Fin versión móvil -->

        <!-- Foto -->
        <div class="photo">
            <img [src]="getImage()" alt="Imagen del producto" (click)="toggleShowImg()">
        </div>

        <div class="text">
            <!-- Nombre -->
            <div class="pc">
                <div class="name-box">
                    <h3>{{ product.name }}</h3>
                </div>
                <p class="vendor" *ngIf="product.vendor !== ''">
                    <b>Vendedor:</b> {{ product.vendor }}
                </p>
            </div>
            <hr class="mt-2">

            <!-- Precio -->
            <div *ngIf="product.discount; else withoutDiscount" class="show-price">
                <p class="old-price">Precio recomendado:</p>
                <p><span class="line">{{ product.price | price }}</span></p>

                <p class="old-price">Ahorras:</p>
                <p><span class="offer">{{ product.price - product.price * (100 - product.discount) / 100 | price }} ({{ product.discount }}%)</span></p>
                
                <p class="old-price">Precio:</p>
                <p><span class="offer price">{{ product.price * (100 - product.discount) / 100 | price }}</span></p>
                <div></div>
                <p class="final-price">Precio final del producto</p>
            </div>
            <ng-template #withoutDiscount>
                <div class="show-price">
                    <p class="old-price">Precio: </p>
                    <p><span class="offer price">{{ product.price | price }}</span></p>
                    <div></div>
                    <p class="final-price">Precio final del producto</p>
                </div>
            </ng-template>
            <hr>

            <!-- Descripción -->
            <div class="amz-guarantee" *ngIf="product.vendor == 'Amazona'">
                <h5>Garantía</h5>
                <div class="ceramic" >
                    <img src="/assets/icon/amz_logo_wt_md.png" alt="Logo Amazona" class="amz-vendor">
                </div>
                <div class="text-center">
                    <small>Producto original. Vendido, distribuído y garantizado por Amazona.</small>
                </div>
            </div>
            <div *ngFor="let description of product.description">
                <app-description [description]="description"></app-description>
            </div>
            
            <div class="buttons-panel">
                <button class="btn ceramic" (click)="buyNow()">Comprar ya</button>
                <button class="btn ceramic golden" (click)="addToCart()">Añadir a la cesta</button>
            </div>
        </div>
    </div>

    <!-- After add product in cart -->
    <div class="container product-added" *ngIf="addedCart">
        <div class="message-product-added">
            <h4>Producto añadido al carrito</h4>
        </div>
        <app-banner [cart]="cart" [totalPrice]="getTotalPrice()"></app-banner>
    </div>

    <!-- Suggests -->
    <div class="container suggest">
        <hr class="boundary-separate">
        <h4 class="mx-2">Quizás te interese</h4>
        <carousel [overflowCellsLimit]="7" *ngIf="productsWithSameTag" >
            <div class="carousel-cell" title={{product.name}} (click)="goToProduct(product)" *ngFor="let product of productsWithSameTag">
                <div class="cell-img">
                    <img [src]="product.images[0]" loading="lazy">
                </div>
                <div class="cell-info">
                    <div class="cell-name-box">
                        <p class="cell-name">{{ product.name }}</p>
                    </div>
                    <div class="cell-price">
                        <p class="price">{{ product.price * (100 - product.discount) / 100 | price }}</p>
                        <p class="old-price" *ngIf="product.discount">{{ product.price | price }}</p>
                    </div>
                </div>
            </div>
        </carousel>
        <!-- <hr> -->
        <hr class="boundary-separate">
    </div>
</div>
