.preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid steelblue;
    border-radius: 3px;
    height: 55px;
    width: 40px;
}

.preview:hover {
    border: 1px solid rgb(200,0,0);
    border-radius: 3px;
    box-shadow: 0 0 6px 2px goldenrod;
    cursor: pointer;
}

.preview.activated {
    border: 1px solid rgb(200,0,0);
    border-radius: 3px;
    box-shadow: 0 0 6px 2px goldenrod;
    cursor: pointer;
}

@media screen and (min-width: 770px) {
    .preview {
        height: 75px;
        width: 53px;
    }
}